--USE zionwellmark_BellBrand
USE [bellbrand]
GO
/****** Object:  StoredProcedure[dbo].[BELL_DEL_CASH_TRANS_BY_ID]    Script Date: 19-08-2025 21:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[BELL_DEL_CASH_TRANS_BY_ID]  
@CASHID AS INT,  
@FLAGTYPE AS VARCHAR(15),  -- EXTRA FOR DIFF REPORTS  
@result int OUTPUT      
AS  
BEGIN  
 IF @FLAGTYPE = 'CASH-IN'    
 BEGIN  
   IF (SELECT COUNT(1) FROM BELL_DAILYCASHFLOW WHERE ID=@CASHID ) > 0 --AND STATUS='PENDING'   
   BEGIN  
     DELETE FROM tblVANSALESBILL_DETAILS WHERE CASHID=@CASHID  
     DELETE FROM tblVANCASH_IN_DETAILS  WHERE CASHID=@CASHID  
     DELETE FROM tblVANCASH_OUT_DETAILS WHERE CASHID=@CASHID  
     DELETE FROM BELL_DAILYCASHFLOW WHERE ID=@CASHID  
     Delete from BELL_LineSalesManPayments WHERE CASHID=@CASHID  
     --tblLineSalesManPendings  
     --BELL_LineSalesManPayments  
     SET @result = 1  
   END  
   ELSE  
   BEGIN  
     SET @result = 0  
   END  
   SELECT @result  
 END  
end
GO
/****** Object:  StoredProcedure[dbo].[BELL_GET_CASH_TRANS_BY_DATE_NEW]    Script Date: 19-08-2025 21:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
update tblLineSalesManPendings  set Received='N', Actiondate=getdate()  where ID=328 

SELECT b.id a.paiddate,a.purpose,b.salesman,b.partyname,b.Amount_Due from bell_dailycashflow A inner join tblLineSalesManPendings B on A.ID=B.CashID     
        where transtype='IN' AND Amount_Due>0 and   
  --a.paiddate=@BILLDATE   
  CONVERT(nvarchar(10),A.PAIDDATE,101) = CONVERT(nvarchar(10),'07/30/2025',101)  
  order by Line, Salesman,partyname    
  select CONVERT(nvarchar(10),'30-Jul-2025',101) 
  select   CONVERT(nvarchar(10),PAIDDATE,101)  from bell_dailycashflow
  select * from tblLineSalesManPendings where ID=328 
  order by billdate desc
  */
  -- BELL_GET_CASH_TRANS_BY_DATE_new '20250312','TOT_OB'    
-- BELL_GET_CASH_TRANS_BY_DATE_new '20250313','TOT_OB'    
-- BELL_GET_CASH_TRANS_BY_DATE_new '20250404','TOT_OB'    
-- BELL_GET_CASH_TRANS_BY_DATE_new '20250407','TOT_OB'    
  
-- BELL_GET_CASH_TRANS_BY_DATE_new '20250407','TOT_OB_OLD'    
-- BELL_GET_CASH_TRANS_BY_DATE_new '20250405','TOT_OB_OLD'    
  
-- BELL_GET_CASH_TRANS_BY_DATE_new '20250404','TOT_OB_OLD'    
  
-- BELL_GET_CASH_TRANS_BY_DATE '28-Mar-2025','TOTALS'    
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '14-Mar-2025','WEB2LOCAL' ,-1   
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '14-Mar-2025','WEB2LOCAL' 
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '22-Mar-2025','dues'    
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '22-Mar-2025','TOT_OB'    
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '22-Mar-2025','EXPENS'    
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '17-Mar-2025','ONLINE'    
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '01-Apr-2025','OUT'    
-- BELL_GET_CASH_TRANS_BY_DATE_NEW '02-Apr-2025','IN'    
CREATE PROCEDURE[dbo].[BELL_GET_CASH_TRANS_BY_DATE_NEW]   
@BILLDATE AS DATE,    
@TRANSTYPE AS VARCHAR(10),    
@CashID as int = 0    -- if CashID=-1 and TransType='WEB2LOCAL' then it will retrieve all records iresspective of BillDate
AS    
BEGIN    
 IF @TRANSTYPE = 'IN' OR @TRANSTYPE = 'OUT'     
 BEGIN    
 SELECT A.ID,A.CATEGORY,A.PURPOSE,A.PAIDTOPERSON,A.AMOUNT,A.SEQ_NO,A.payment_mode,isnull(fileinfo,'') as fileinfo, (select  GRANDTOTAL from tblVANSALESBILL_DETAILS B where A.ID=B.CASHID ) as  GRANDTOTAL,due_date FROM BELL_DAILYCASHFLOW A   WHERE   
 --PAIDDATE=@BILLDATE    
 CONVERT(nvarchar(10),PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)  
 AND A.TRANSTYPE=@TRANSTYPE ORDER BY SEQ_NO      
  END     
  ELSE IF @TRANSTYPE = 'ONLINE'    
  BEGIN    
  --SELECT a.paiddate,a.category,a.purpose,a.paidtoperson,b.Denomination,b.Total from bell_dailycashflow A inner join tblVANCASH_in_DETAILS B on A.ID=B.CashID     
  SELECT a.paiddate,a.category,a.purpose,a.paidtoperson,b.Denomination,b.Total from bell_dailycashflow A inner join tblVANCASH_in_DETAILS B on A.ID=B.CashID     
        where   
  -- a.paiddate=@BILLDATE   
  CONVERT(nvarchar(10),A.PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)  
  and transtype='IN' and b.denomination in ('Bank','PhonePe','Gpay','Scanner') and b.Total>0 order by a.purpose     
  
 END    
 ELSE IF @TRANSTYPE='EXPENS'    
 BEGIN    
   if @CashID > 0    
     SELECT a.paiddate,a.category,a.purpose,a.paidtoperson,b.expens,b.Total from bell_dailycashflow A inner join tblVANCASH_OUT_DETAILS B on A.ID=B.CashID     
      where   
   -- a.paiddate=@BILLDATE   
  CONVERT(nvarchar(10),A.PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)  
  and transtype='IN' AND B.Total>0 and A.ID=@CashID order by a.purpose     
   else    
   begin    
    SELECT a.paiddate,a.category,a.purpose,a.paidtoperson,b.expens,b.Total from bell_dailycashflow A inner join tblVANCASH_OUT_DETAILS B on A.ID=B.CashID     
    where   
  --a.paiddate=@BILLDATE   
  CONVERT(nvarchar(10),A.PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)  
  and transtype='IN' AND B.Total>0 order by a.purpose     
   end    
 END    
 ELSE IF @TRANSTYPE='DUES'    
 BEGIN     
  SELECT b.id, a.paiddate,a.purpose,b.salesman,b.partyname,b.Amount_Due,ISNULL(Received,'No') Received from bell_dailycashflow A inner join tblLineSalesManPendings B on A.ID=B.CashID     
        where transtype='IN' AND Amount_Due>0 and   
  --a.paiddate=@BILLDATE   
  CONVERT(nvarchar(10),A.PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)  
  order by Line, Salesman,partyname    
 END    
 ELSE IF @TRANSTYPE='TOT_OB_OLD'    
 BEGIN    
   declare @InitialOB1 as money,@CashIN1 as money,@CashOUT1 as money,@OpenBal1 as money  
   set @InitialOB1=(select ItemValue from Bell_MasterData where Itemtype='OPEN_BALANCE')  
     
   select @CashIN1=sum(amount) from BELL_DAILYCASHFLOW where UPPER(ISNULL(PAYMENT_MODE,'CASH')) ='CASH' AND upper(TRANSTYPE)='IN' and   
   CONVERT(date,PAIDDATE,101) < CONVERT(date,@BILLDATE,101) GROUP BY TRANSTYPE    
     
   SELECT @CashOUT1 = sum(amount) from BELL_DAILYCASHFLOW where UPPER(ISNULL(PAYMENT_MODE,'CASH')) ='CASH' AND upper(TRANSTYPE)='OUT' and   
   CONVERT(date,PAIDDATE,101) < CONVERT(date,@BILLDATE,101) GROUP BY TRANSTYPE   
  
   set @OpenBal1 = @InitialOB1+@CashIN1 - @CashOUT1   
   select @OpenBal1 as OpenBal,@InitialOB1 as InitialOB,@CashIN1 as CashIN,@CashOUT1  AS CashOUT   
 end   
 ELSE IF @TRANSTYPE='TOT_OB'    
 BEGIN    
  --select sum(amount) AS AMOUNT,TRANSTYPE from BELL_DAILYCASHFLOW where PAIDDATE< @BILLDATE GROUP BY TRANSTYPE      
  --select sum(amount) AS AMOUNT,TRANSTYPE from BELL_DAILYCASHFLOW where UPPER(ISNULL(PAYMENT_MODE,'CASH')) ='CASH' AND  
 --  CONVERT(date,PAIDDATE,101) < CONVERT(date,@BILLDATE,101) GROUP BY TRANSTYPE      
 declare @PrevDate as date  
 set @PrevDate = CONVERT(date,dateadd(day,-1,@BILLDATE),101)    
 --SELECT DATENAME(weekday, CAST('2025-04-08' AS DATE)) AS Weekday;  
 if  DATENAME(weekday, CAST(@PrevDate AS DATE)) = 'Sunday'   set @PrevDate = CONVERT(date,dateadd(day,-2,@BILLDATE),101)    
    
    if (select count(1) from bell_tblCashApproval where CONVERT(date,TransDate,101) = CONVERT(date,@PrevDate,101)  ) > 0   
 begin  
   print 'data retrieved from bell_tblCashApproval '  
   -- previous day cashinhand will become open balance for next day  
   --select OpenBal,TotCashInHand,totCashIn,totCashOut from bell_tblCashApproval where CONVERT(date,TransDate,101) = CONVERT(date,dateadd(day,-1,@BILLDATE),101)  
   select TotCashInHand as OpenBal,TRANSDATE from bell_tblCashApproval where CONVERT(date,TransDate,101) = CONVERT(date,@PrevDate,101)  
 end  
 else  
 begin  
   print 'data retrieved from InitialOpenbal + totalIN - totalOUT '  
   declare @InitialOB as money,@CashIN as money,@OpenBal as money  
   set @InitialOB=(select ItemValue from Bell_MasterData where Itemtype='OPEN_BALANCE')  
   select @CashIN=sum(amount) from BELL_DAILYCASHFLOW where UPPER(ISNULL(PAYMENT_MODE,'CASH')) ='CASH' AND upper(TRANSTYPE)='IN' and   
   CONVERT(date,PAIDDATE,101) < CONVERT(date,@BILLDATE,101) GROUP BY TRANSTYPE    
  
   set @OpenBal = @InitialOB+@CashIN - (select sum(amount) from BELL_DAILYCASHFLOW where UPPER(ISNULL(PAYMENT_MODE,'CASH')) ='CASH' AND upper(TRANSTYPE)='OUT' and   
   CONVERT(date,PAIDDATE,101) < CONVERT(date,@BILLDATE,101) GROUP BY TRANSTYPE )  
   select @OpenBal as OpenBal,@InitialOB as InitialOB,@CashIN as CashIN  
 end     
 END    
 ELSE IF @TRANSTYPE='SMANLIST'    
 BEGIN    
  SELECT DISTINCT salesman FROM tblLineSalesManPendings  ORDER BY salesman    
 END    
 ELSE IF @TRANSTYPE='WEB2LOCAL'    
 BEGIN    
	IF @CashID = -1   -- TO RETRIEVE ALL RECORDS FOR BACKUP
	BEGIN
		PRINT 'CashID=-1 and fetching all records'
		select a.ID,a.category,a.paiddate,a.purpose,a.paidtoperson,a.amount,a.payment_mode,a.transtype,isnull(a.moredetails,'') moredetails,a.actiondate,a.username,
		isnull(a.fileinfo,'') FileInfo,a.SEQ_NO,isnull(a.due_date,'') due_date,a.status
		,isnull(b.id,0) as VID,isnull(TOTALAMT, 0) as TOTALAMT,isnull(TOTCASH_IN,0) as TOTCASH_IN,isnull(TOTCASH_OUT,0) as TOTCASH_OUT,isnull(GRANDTOTAL,0) as GRANDTOTAL,    
		isnull(TOTAL_DUE,0) as TOTAL_DUE,isnull(TOTAL_KM,0) as TOTAL_KM, isnull(DIESEL,0) as DIESEL,isnull(MILEAGE,0) as MILEAGE,isnull(Vehicle_No,'') as Vehicle_No  
		,isnull(b.Driver,'') as Driver
		from bell_dailycashflow a left join tblvansalesbill_details b on a.id=b.cashid order by a.id
    END
	ELSE
	BEGIN
			select a.ID,a.category,a.paiddate,a.purpose,a.paidtoperson,a.amount,a.payment_mode,a.transtype,isnull(a.moredetails,'') moredetails,a.actiondate,a.username,
			isnull(a.fileinfo,'') FileInfo,a.SEQ_NO,isnull(a.due_date,'') due_date,a.status
			,isnull(b.id,0) as VID,isnull(TOTALAMT, 0) as TOTALAMT,isnull(TOTCASH_IN,0) as TOTCASH_IN,isnull(TOTCASH_OUT,0) as TOTCASH_OUT,isnull(GRANDTOTAL,0) as GRANDTOTAL,    
			isnull(TOTAL_DUE,0) as TOTAL_DUE,isnull(TOTAL_KM,0) as TOTAL_KM, isnull(DIESEL,0) as DIESEL,isnull(MILEAGE,0) as MILEAGE,isnull(Vehicle_No,'') as Vehicle_No  
			,isnull(b.Driver,'') as Driver
			from bell_dailycashflow a left join tblvansalesbill_details b on a.id=b.cashid where   
			CONVERT(nvarchar(10),PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)   order by a.id     
			-- where paiddate>=@BILLDATE  and paiddate<='20250329' order by a.id     
	  END
 END    
 ELSE IF @TRANSTYPE='TOTALS'    
 BEGIN    
  Declare @TOT_ONLINE AS money,@TOT_Expens AS money,@TOT_Dues AS money    
  set @TOT_ONLINE = (SELECT SUM(b.Total) from bell_dailycashflow A inner join tblVANCASH_in_DETAILS B on A.ID=B.CashID     
        where   
  --a.paiddate=@BILLDATE   
  CONVERT(nvarchar(10),A.PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)  
  and transtype='IN' and b.denomination in ('Bank','PhonePe','Gpay','Scanner') and b.Total>0 )    
      
  set @TOT_Expens=(SELECT sum(b.Total) from bell_dailycashflow A inner join tblVANCASH_OUT_DETAILS B on A.ID=B.CashID     
   where a.paiddate=@BILLDATE and transtype='IN' AND B.Total>0 )    
  set @TOT_Dues = (SELECT sum(b.Amount_Due) from bell_dailycashflow A inner join tblLineSalesManPendings B on A.ID=B.CashID     
        where transtype='IN' AND Amount_Due>0 and   
  --a.paiddate=@BILLDATE )    
  CONVERT(nvarchar(10),A.PAIDDATE,101) = CONVERT(nvarchar(10),@BILLDATE,101)  
  )  
      
 select @TOT_ONLINE as TotOnline,@TOT_Expens as TotExpens,@TOT_Dues TotDues    
 END    
END    
GO
/****** Object:  StoredProcedure[dbo].[BELL_GET_SM_ONLINE_TRANSFERS]    Script Date: 19-08-2025 21:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  Select *,amount as Amt_Paid, (-1*amount) as Balance_Amt from BELL_LineSalesManPayments where  
  --line=(case when @LINE='' then line else @LINE end)  and salesman=(case when @SALESMAN='' then salesman else @SALESMAN end)  and   
  --Billdate is null and due_cashid is null  
  
  
--Select LINE,salesman,sum(amount_due) as Due, isnull((select sum(Amount) from BELL_LineSalesManPayments B where A.SalesMan=B.SalesMan and a.line=b.line),0) as Paid      
--    ,(sum(amount_due) - isnull((select sum(Amount) from BELL_LineSalesManPayments B where A.SalesMan=B.SalesMan and a.line=b.line),0) ) as Balance       
--    from tblLineSalesManPendings A WHERE 1=1  AND SalesMan = 'PRASAD'  and line='NARAYANAKED' Group by salesman,line order by salesman  
  
--select convert(varchar(10),b.due_date,101) due_date ,* from bell_dailycashflow b where transtype='OUT'   
--and (category like '%COMMISSION%' or purpose like '%COMMISSION%')   
--and CATEGORY='KHAMMAM (LOCAL)' and paidtoperson='KALYAN' and paiddate<'23-Apr-2025'  
  
-- BELL_GET_SM_ONLINE_TRANSFERS  '28-Mar-2025','','BHASKAR','','',0,0,'DUES_GROUPBY_SM'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '','','MAHESH.CH','','',0,0,'DUES_GROUPBY_SM'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '','','MAHESH.CH','','',0,0,'DUES_BY_LINE'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '28-Mar-2025','','','','30-Mar-2025',0,0,'DUES_BY_LINE'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '','BELLAMPALLY','','','',0,0,'DUES_BY_LINE'      
  
-- BELL_GET_SM_ONLINE_TRANSFERS  '23-Apr-2025','LAXETPETA','KALYAN ','','06-Apr-2025',0,0,'PENDING_COMM_DATES'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '28-Mar-2025','','','','06-Apr-2025',0,0,'SALARY_REPORT'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '28-Mar-2025','adva','','','06-Apr-2025',0,0,'SALARY_ADVANCE'        
-- BELL_GET_SM_ONLINE_TRANSFERS  '28-Mar-2025','','','','06-Apr-2025',0,0,'SALES_COMM_PAID'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '28-Mar-2025','','','','06-Apr-2025',0,0,'LINE_SALES_COMMISSION'        
-- BELL_GET_SM_ONLINE_TRANSFERS  '28-Mar-2025','','','','30-Mar-2025',0,0,'SM_NAMES'            
-- BELL_GET_SM_ONLINE_TRANSFERS  '01-Apr-2025','BAZAR','','','16-Apr-2025',0,0,'LINE_SALES2'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '01-Apr-2025','','','','30-Jul-2025',0,0,'LINE_SALES'      
  
-- BELL_GET_SM_ONLINE_TRANSFERS  '05-Apr-2025','','','','All',0,1,'SM_ONLINE'      
-- BELL_GET_SM_ONLINE_TRANSFERS  '22-Mar-2025','Bazar','ss','test','All',1,0,''      
-- BELL_GET_SM_ONLINE_TRANSFERS  '30-Mar-2025','','','','All',1,0,''      
-- BELL_GET_SM_ONLINE_TRANSFERS  '22-Mar-2025','','','','All',0,1,''      
CREATE PROCEDURE[dbo].[BELL_GET_SM_ONLINE_TRANSFERS]      
@BILLDATE AS varchar(12),      
@LINE AS VARCHAR(50),      
@SALESMAN AS VARCHAR(30),      
@PURPOSE AS VARCHAR(30),      
@PAYMODE AS VARCHAR(12),  -- using it for date2 for other report AND is passing with correct date format like dd/MMM/yyyy      
@STATUS AS int,      
@ALLDATE AS int,      
@REPORTTYPE AS VARCHAR(25),  -- EXTRA FOR DIFF REPORTS  
@DRIVER AS VARCHAR(50) = ''
AS      
BEGIN      
 DECLARE @STRSQLWHERE AS nVARCHAR(500),@SCRIPT AS nVARCHAR(MAX)      
      
 if @REPORTTYPE='SM_ONLINE'  -- to view sales man line wise online transfers      
 begin      
    set @SCRIPT = 'select V.ID,V.CASHID,V.DENOMINATION,V.TOTAL,C.PAIDDATE,C.PURPOSE,C.PAIDTOPERSON,isnull(v.Received,''No'') as Received,C.USERNAME from tblVANCASH_IN_DETAILS V   
  inner join BELL_DAILYCASHFLOW C on V.CASHID=C.ID WHERE V.total > 0 AND C.TRANSTYPE=''IN'' '      
    set @STRSQLWHERE=''      
      
    if @LINE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND PURPOSE='''+ @LINE +''''      
    End      
      
    If Len(@SALESMAN) > 0      
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND PAIDTOPERSON=''' + @SALESMAN +''''      
    End      
       
    If @PAYMODE !='' And upper(@PAYMODE) != 'ALL'      
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND V.denomination ='''+ @paymode +''''      
    end      
    Else      
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND V.denomination in (''Bank'',''PhonePe'',''GPay'',''Scanner'') '      
      end      
         
      If @STATUS = 0       
      begin      
      set @STRSQLWHERE = @STRSQLWHERE + ' and isnull(Received,''No'')=''No'' '         
    end      
    --   Else       
    --begin      
    --          set @STRSQLWHERE = @STRSQLWHERE + ' and Received=''Yes'' '      
    --end      
       
    If @ALLDATE <> 1       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND PAIDDATE=''' + @BILLDATE + ''''      
     end      
       
    --print @STRSQLWHERE      
    set @SCRIPT = @SCRIPT + @STRSQLWHERE + ' order by paiddate desc '      
    print @SCRIPT      
    exec sp_executesql @SCRIPT;      
 end      
 if @REPORTTYPE='LINE_SALES'      
 begin      
    --Declare @TOT_ONLINE AS money,@TOT_Expens AS money,@TOT_Dues AS money      
    --set @TOT_ONLINE = (SELECT SUM(b.Total) from bell_dailycashflow A inner join tblVANCASH_in_DETAILS B on A.ID=B.CashID       
    --where a.paiddate=@BILLDATE and transtype='IN' and b.denomination in ('Bank','PhonePe','Gpay','Scanner') and b.Total>0 )      
        
    --set @TOT_Expens=(SELECT sum(b.Total) from bell_dailycashflow A inner join tblVANCASH_OUT_DETAILS B on A.ID=B.CashID       
    -- where a.paiddate=@BILLDATE and transtype='IN' AND B.Total>0 )      
          
    ----ToDO: if any due payment made it should deduct from due amt.      
    --set @TOT_Dues = (SELECT sum(b.Amount_Due) from bell_dailycashflow A inner join tblLineSalesManPendings B on A.ID=B.CashID       
    --where transtype='IN' AND Amount_Due>0 and a.paiddate=@BILLDATE )      
          
    --select @TOT_ONLINE as TotOnline,@TOT_Expens as TotExpens,@TOT_Dues TotDues      
      
   -- (select sum(amount) as commision from bell_dailycashflow b  where b.paiddate=a.paiddate and (category='SALES COMMISSION' or purpose='COMMISSION') and a.paidtoperson=b.paidtoperson)      
   -- commission can be separated      
   set @SCRIPT = 'select cashid,line,salesman,billdate,totalamt,totcash_in,(totalamt-totcash_in) as tot_expense,totcash_out,grandtotal,total_km,diesel,mileage,total_due,username,vehicle_no,      
    (select isnull(sum(amount),0) from BELL_LineSalesManPayments where due_cashid=a.cashid) as Amt_paid from tblvansalesbill_details a where GrandTotal>0  '            
   --select category,paiddate,purpose,paidtoperson,amount username,b. from bell_dailycashflow a inner join tblvansalesbill_details b on a.id=b.cashid where transtype='IN'             
   
 select a.id as cashid,a.paiddate as billdate,a.purpose as line,a.paidtoperson as salesman,isnull(totalamt,amount) as totalamt,isnull(b.grandtotal,a.amount) as grandtotal   
 ,isnull(totcash_in,amount) as totcash_in, isnull((totalamt-totcash_in),0) as tot_expense,isnull(totcash_out,0) as totcash_out, isnull(total_km,0) total_km,isnull(diesel,0) diesel, isnull(mileage,0) mileage  
 ,isnull(total_due,0) as total_due,a.username,vehicle_no,b.Driver  
 ,(select isnull(sum(amount),0) from BELL_LineSalesManPayments where due_cashid=a.id) as Amt_paid  
 from BELL_DAILYCASHFLOW a left join tblvansalesbill_details b on a.id=b.cashid where category='line_sales' and TRANSTYPE='IN'  
 and purpose in (select distinct line from bell_lines where status='Active' and line is not null)    
 and a.paiddate>=@BILLDATE and a.paiddate <=@PAYMODE  
 and a.purpose=(case when @LINE='' then a.purpose else @LINE end)  
 and a.paidtoperson=(case when @SALESMAN='' then a.paidtoperson else @SALESMAN end)    
  and b.vehicle_no=(case when @PURPOSE='' then isnull(b.vehicle_no,'') else @PURPOSE end)    -- using @Purpose as Vehicle_no from VanSales_Bill report)  
 and b.Driver=(case when @DRIVER='' then isnull(b.Driver,'') else @DRIVER end) 
 order by a.paiddate   
  
   --set @STRSQLWHERE=''      
      
   -- if @LINE <> ''       
   -- begin      
   --  set @STRSQLWHERE = @STRSQLWHERE + ' AND Line='''+ @LINE +''''      
   -- End      
      
   -- If Len(@SALESMAN) > 0      
   -- begin      
   --  set @STRSQLWHERE = @STRSQLWHERE + ' AND SalesMan=''' + @SALESMAN +''''      
   -- End      
   -- If @BILLDATE <> ''       
   -- begin      
--  set @STRSQLWHERE = @STRSQLWHERE + ' AND Billdate>=''' + @BILLDATE + ''''      
   --  end      
   -- If @PAYMODE <> ''       
   -- begin      
   --  set @STRSQLWHERE = @STRSQLWHERE + ' AND Billdate<=''' + @PAYMODE + ''''   -- paymode is using for date2       
   --  end      
   -- --print @STRSQLWHERE      
   -- set @SCRIPT = @SCRIPT + @STRSQLWHERE + ' order by BILLDATE '    --Line,Billdate     
   -- print @SCRIPT      
   -- exec sp_executesql @SCRIPT;      
 end      
 if @REPORTTYPE='LINE_SALES2'      
 begin  
    select a.id,a.paiddate as billdate,a.purpose as line,a.paidtoperson as salesman,isnull(b.grandtotal,a.amount) as grandtotal from BELL_DAILYCASHFLOW a left join tblvansalesbill_details b on a.id=b.cashid where category='line_sales' and TRANSTYPE='IN'  
    and purpose in (select distinct line from bell_lines where status='Active' and line is not null)    
    and a.paiddate>=@BILLDATE and a.paiddate <=@PAYMODE  
    and a.purpose=(case when @LINE='' then a.purpose else @LINE end)  
    and a.paidtoperson=(case when @SALESMAN='' then a.paidtoperson else @SALESMAN end)   
    order by a.paiddate  
      
 end  
 if @REPORTTYPE='LINE_SALES_COMM'      
 begin              
 --select id,paiddate,category,purpose,paidtoperson,amount as Comm_Amt,isnull(due_date,'') as SalesDate    
 --,(select amount from bell_dailycashflow b  where transtype='IN' and b.paiddate = a.due_date and a.paidtoperson=b.paidtoperson and a.purpose=b.purpose) as SalesAmount    
 --from bell_dailycashflow a  where transtype='OUT' and (a.category like '%COMMISSION%' or purpose like '%COMMISSION%')     
   set @SCRIPT = 'select id,paiddate,category,purpose,paidtoperson,amount as Comm_Amt,isnull(due_date,'''') as SalesDate    
 ,(select amount from bell_dailycashflow b  where transtype=''IN'' and b.paiddate = a.due_date and a.paidtoperson=b.paidtoperson and a.category=b.purpose) as SalesAmount    
 from bell_dailycashflow a  where transtype=''OUT'' and (a.category like ''%COMMISSION%'' or purpose like ''%COMMISSION%'')   '        
         
   set @STRSQLWHERE=''      
      
    if @LINE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Line='''+ @LINE +''''      
    End      
      
    If Len(@SALESMAN) > 0      
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND SalesMan=''' + @SALESMAN +''''      
    End      
    If @BILLDATE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate>=''' + @BILLDATE + ''''      
     end      
    If @PAYMODE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate<=''' + @PAYMODE + ''''   -- paymode is using for date2       
     end      
    --print @STRSQLWHERE      
    set @SCRIPT = @SCRIPT + @STRSQLWHERE + ' order by Paiddate '    
    print @SCRIPT      
    exec sp_executesql @SCRIPT;      
 end      
 if @REPORTTYPE='SALARY_ADVANCE'      
 begin           
     
 --select id,category,paiddate,purpose,paidtoperson,amount,moredetails from BELL_DAILYCASHFLOW  where Transtype='out' and purpose='ADVANCE' and Category ='SALARY'     
    
   set @SCRIPT = 'select id,category,paiddate,purpose,paidtoperson,amount,moredetails from BELL_DAILYCASHFLOW  where Transtype=''out'' and Category =''SALARY''  '        
         
   set @STRSQLWHERE=''      
      
    if @LINE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND purpose like'''+ @LINE +'%'''      
    End      
      
    If Len(@SALESMAN) > 0      
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND paidtoperson=''' + @SALESMAN +''''      
    End      
    If @BILLDATE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate>=''' + @BILLDATE + ''''      
     end      
    If @PAYMODE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate<=''' + @PAYMODE + ''''   -- paymode is using for date2       
     end      
    --print @STRSQLWHERE      
    set @SCRIPT = @SCRIPT + @STRSQLWHERE + ' order by Paiddate '    
    print @SCRIPT      
    exec sp_executesql @SCRIPT;      
 end      
 if @REPORTTYPE='SALARY_REPORT'      
 begin            
  declare @SCRIPT2 as nvarchar(200)    
 --select person,isnull(Amount,0) as Salary,    
 --(select isnull(sum(amount),0) from BELL_DAILYCASHFLOW  b where Transtype='out' and Category ='SALARY' and purpose='Advance' and b.PAIDTOPERSON=a.PERSON) as Advance    
 --from BELL_CATEGORY_MASTER a where category='Salary' and fieldtype='out' and isnull(person,'') <> '' and purpose like 'Monthly%'    
    
   set @SCRIPT = 'select id,person,isnull(Amount,0) as Salary,isnull(purpose,'''') as purpose,    
 (select isnull(sum(amount),0) from BELL_DAILYCASHFLOW  b where Transtype=''out''and Category =''SALARY'' and purpose=''Advance'' and b.PAIDTOPERSON=a.PERSON '    
    
set @SCRIPT2 =' ) as Advance  from BELL_CATEGORY_MASTER a where category=''Salary'' and fieldtype=''out'' and isnull(person,'''') <> ''''  '        
    
   set @STRSQLWHERE=''      
   If @BILLDATE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate>=''' + @BILLDATE + ''''      
     end      
    If @PAYMODE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate<=''' + @PAYMODE + ''''   -- paymode is using for date2       
     end      
    --print @STRSQLWHERE      
    set @SCRIPT = @SCRIPT + @STRSQLWHERE + @SCRIPT2    
    
 set @STRSQLWHERE=''      
    if @LINE = ''       
 begin    
   set @STRSQLWHERE = @STRSQLWHERE + ' AND purpose like ''Monthly%'''    
 end    
 else    
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND purpose like'''+ @LINE +'%'''      
    End      
      
    If Len(@SALESMAN) > 0      
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND person=''' + @SALESMAN +''''      
    End      
    
 set @SCRIPT = @SCRIPT + @STRSQLWHERE + ' order by person'        
    print @SCRIPT      
    exec sp_executesql @SCRIPT;      
 end      
 if @REPORTTYPE='SALES_COMM_PAID'      
 begin           
     
 --select id,paiddate,category,purpose,paidtoperson,amount as Comm_Amt,isnull(due_date,'') as SalesDate    
 --,(select amount from bell_dailycashflow b  where transtype='IN' and b.paiddate = a.due_date and a.paidtoperson=b.paidtoperson and a.purpose=b.purpose) as SalesAmount    
 --from bell_dailycashflow a  where transtype='OUT' and (a.category like '%COMMISSION%' or purpose like '%COMMISSION%')      
     
 -- select id,paiddate,category,purpose,paidtoperson,amount as Comm_Amt,isnull(due_date,'') as SalesDate from bell_dailycashflow where transtype='OUT'     
   --and (category like '%COMM%' or purpose like '%COMM%')   order by due_date    
    
 --update  bell_dailycashflow set purpose='COMMISSION' where transtype='OUT' and purpose in ('COMMOSSION', 'COMIISSION', 'COMMISSINO', 'COMMMISSION')    
 set @SCRIPT = 'select * from bell_dailycashflow where transtype=''OUT'' and (category like ''%COMMISSION%'' or purpose like ''%COMMISSION%'')   '        
         
   set @STRSQLWHERE=''      
      
    if @LINE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND CATEGORY='''+ @LINE +''''      
    End      
      
    If Len(@SALESMAN) > 0      
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND paidtoperson=''' + @SALESMAN +''''      
    End      
    If @BILLDATE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate>=''' + @BILLDATE + ''''      
     end      
    If @PAYMODE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Paiddate<=''' + @PAYMODE + ''''   -- paymode is using for date2       
     end      
    --print @STRSQLWHERE      
    set @SCRIPT = @SCRIPT + @STRSQLWHERE + ' order by Paiddate  '    
    print @SCRIPT      
    exec sp_executesql @SCRIPT;      
 end      
 if @REPORTTYPE='DUES_GROUPBY_SM'      
 Begin      
  PRINT 'DUES_GROUPBY_SM'      
    set @SCRIPT = 'Select line,salesman,sum(amount_due) as Due, isnull((select sum(Amount) from BELL_LineSalesManPayments B where A.SalesMan=B.SalesMan and a.line=b.line),0) as Paid      
    ,(sum(amount_due) - isnull((select sum(Amount) from BELL_LineSalesManPayments B where A.SalesMan=B.SalesMan and a.line=b.line),0) ) as Balance       
    from tblLineSalesManPendings A WHERE 1=1 '      
    set @STRSQLWHERE=''      
    if @LINE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Line='''+ @LINE +''''      
    End      
    If Len(@SALESMAN) > 0      
    begin      
     --set @STRSQLWHERE = @STRSQLWHERE + ' AND SalesMan like ''%' + @SALESMAN + '%'''      
  set @STRSQLWHERE = @STRSQLWHERE + ' AND SalesMan = ''' + @SALESMAN + ''''      
    End      
    set @SCRIPT = @SCRIPT + @STRSQLWHERE + '  Group by salesman,line order by salesman'      
    print @SCRIPT      
    exec sp_executesql @SCRIPT;      
      
 End      
 if @REPORTTYPE='DUES_BY_LINE'      
 begin      
  Select a.ID, a.cashid as due_cashid,a.line,a.salesman,a.partyname,a.billdate,a.mobile,a.amount_due,    
   isnull((select sum(Amount) from BELL_LineSalesManPayments B where a.cashid=b.due_cashid and a.line=b.line and a.salesman=b.salesman and a.partyname=b.partyname   
   and b.due_cashid is not null),0) as Amt_Paid,      
  (a.amount_due - isnull((select sum(Amount) from BELL_LineSalesManPayments B where a.cashid=b.due_cashid and a.line=b.line and a.salesman=b.salesman and   
  a.partyname=b.partyname  and b.due_cashid is not null),0) ) as Balance_Amt from tblLineSalesManPendings A where    
  line=(case when @LINE='' then line else @LINE end)  
  and salesman=(case when @SALESMAN='' then salesman else @SALESMAN end)  
  and Billdate=(case when @BILLDATE='' then Billdate else @BILLDATE end)  
 UNION  
  Select 0 as ID, 0 as due_cashid,line,salesman,partyname,billdate,'' mobile,'' as amount_due,amount as Amt_Paid, (-1*amount) as Balance_Amt from BELL_LineSalesManPayments where  
  --line=(case when @LINE='' then line else @LINE end)  and salesman=(case when @SALESMAN='' then salesman else @SALESMAN end)  and   
  Billdate is null and due_cashid is null  
    
  --Select 0 as ID, 0 as due_cashid,line,salesman,partyname,billdate,'' mobile,'' as amount_due,A.amount as Amt_Paid, (-1*A.amount) as Balance_Amt,B.PAYMENT_MODE from BELL_LineSalesManPayments A   
  --inner join BELL_DAILYCASHFLOW B on A.cashid=B.id where   
  ----line=(case when @LINE='' then line else @LINE end)   and salesman=(case when @SALESMAN='' then salesman else @SALESMAN end)  and   
  --Billdate is null and due_cashid is null    
    
   set @SCRIPT = 'Select a.ID, a.cashid as due_cashid,a.line,a.salesman,a.partyname,a.billdate,a.mobile,a.amount_due,    
     isnull((select sum(Amount) from BELL_LineSalesManPayments B where a.cashid=b.due_cashid and a.line=b.line and a.salesman=b.salesman and a.partyname=b.partyname),0) as Amt_Paid,      
    (a.amount_due - isnull((select sum(Amount) from BELL_LineSalesManPayments B where a.cashid=b.due_cashid and a.line=b.line and a.salesman=b.salesman and a.partyname=b.partyname),0) ) as Balance_Amt from tblLineSalesManPendings A where 1=1 '        
      
 --set @SCRIPT = 'Select a.ID, a.cashid as due_cashid,a.line,a.salesman,a.partyname,a.billdate,a.mobile,a.amount_due,    
 --isnull((select sum(Amount) from BELL_LineSalesManPayments B where A.Line=B.Line and A.SalesMan=B.SalesMan and a.billdate=b.billdate),0) as Amt_Paid,      
    --(amount_due - isnull((select sum(Amount) from BELL_LineSalesManPayments B where A.SalesMan=B.SalesMan and A.PartyName=B.PartyName and a.billdate=b.billdate),0) ) as Balance_Amt from tblLineSalesManPendings A where 1=1 '       
        
   set @STRSQLWHERE=''      
      
    if @LINE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Line='''+ @LINE +''''      
    End      
    If Len(@SALESMAN) > 0      
    begin      
  set @STRSQLWHERE = @STRSQLWHERE + ' AND SalesMan= ''' + @SALESMAN + ''''         
    End      
    If @BILLDATE <> ''       
    begin      
     set @STRSQLWHERE = @STRSQLWHERE + ' AND Billdate=''' + @BILLDATE + ''''      
     end          
    --print @STRSQLWHERE      
    set @SCRIPT = @SCRIPT + @STRSQLWHERE + ' order by Billdate desc'      
   
 set @SCRIPT = @SCRIPT + 'union all '  
  
    --print @SCRIPT      
    --exec sp_executesql @SCRIPT;      
 end       
 if @REPORTTYPE='DUE_PAYMENTS1'      
 begin      
 if (@STATUS > 0)    
 begin    
   select a.id,a.cashid,a.line,a.salesman,c.partyname,a.billdate,a.paiddate,a.amount,a.actiondate,a.username,b.PAYMENT_MODE from BELL_LineSalesManPayments a     
   INNER JOIN BELL_DAILYCASHFLOW b ON a.cashid=b.id     
   INNER JOIN tblLineSalesManPendings C ON c.cashid=a.due_cashid  where a.due_cashid=@STATUS  --USING @STATUS for due_cashid here.    
   end    
   else    
   begin    
  select a.id,a.cashid,a.line,a.salesman,a.partyname,a.billdate,a.paiddate,a.amount,a.actiondate,a.username,b.PAYMENT_MODE from BELL_LineSalesManPayments a     
  INNER JOIN BELL_DAILYCASHFLOW b ON a.cashid=b.id where a.paiddate=@BILLDATE    --'Convert(date,@BILLDATE, 101)    
 end    
 end      
 if @REPORTTYPE='DUE_PAYMENTS2'      
 begin      
   select a.id,a.cashid,a.line,a.salesman,a.partyname,a.billdate,a.paiddate,a.amount,a.actiondate,a.username,b.PAYMENT_MODE from BELL_LineSalesManPayments a INNER JOIN BELL_DAILYCASHFLOW b ON a.cashid=b.id where a.salesman=@SALESMAN    
       
 end      
 if @REPORTTYPE='SM_NAMES'  -- List of distinct Sales mans from pendings table      
 begin      
  SELECT DISTINCT salesman FROM tblLineSalesManPendings  ORDER BY salesman      
  --SELECT DISTINCT salesman FROM SALESMAN_MASTER   
 end      
  if @REPORTTYPE='PENDING_COMM_DATES'  -- List of Sales man commission pending dates  
 begin        
  select distinct paiddate from BELL_DAILYCASHFLOW where Transtype='IN' and purpose=@line and paidtoperson=@salesman and paiddate<@BILLDATE  
  and convert(varchar(10),paiddate,101) not in   
  (  
   select convert(varchar(10),b.due_date,101) due_date from bell_dailycashflow b where transtype='OUT' and (category like '%COMMISSION%' or purpose like '%COMMISSION%') and 
   due_date is not null and category=@line and paidtoperson=@salesman and paiddate<@BILLDATE  
  )  
  select convert(varchar(10),b.due_date,101) due_date from bell_dailycashflow b where transtype='OUT' and (category like '%COMMISSION%' or purpose like '%COMMISSION%') and 
  due_date is not null and category=@line and paidtoperson=@salesman and paiddate<@BILLDATE  
 
 end    
  
end 
GO
/****** Object:  StoredProcedure[dbo].[BELL_INS_UPD_CASH_TRANS]    Script Date: 19-08-2025 21:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from tbllinesalesmanpendings  where id=308
--** YET TO UPDATE THIS sP

CREATE PROCEDURE[dbo].[BELL_INS_UPD_CASH_TRANS]
@CASHID INT,
@PAIDDATE AS DATE,
@CATEGORY AS VARCHAR(50),
@PURPOSE AS VARCHAR(50),
@PAIDTOPERSON AS VARCHAR(50),
@AMOUNT MONEY,
@PAYMENT_MODE AS VARCHAR(10),
@MOREDETAILS  AS VARCHAR(50),
@FILEINFO AS VARCHAR(50),
@TRANSTYPE AS VARCHAR(10),
@STATUS  AS VARCHAR(10),
@seq_no INT,
@USERNAME AS VARCHAR(50),
@result int OUTPUT    

AS
BEGIN
 --set @BILLDATE = CONVERT(varchar(10),@BILLDATE,101)    
-- iF (SELECT COUNT(1) FROM BELL_DAILYCASHFLOW WHERE CONVERT(varchar(10),PAIDDATE,101) = @PAIDDATE and CATEGORY=@CATEGORY  ) = 0     
 IF @CASHID = 0 
 BEGIN    
  	if @STATUS = 'DUE'   -- FOR cash-in entry from sales man due payments.
	BEGIN
			declare @old_cashid as int, @due_billdate as date,@partyname as varchar(50)			
			select @old_cashid=cashid,@due_billdate=billdate,@partyname=partyname from tbllinesalesmanpendings where id=@seq_no
			
			set @seq_no = (select count(1) from BELL_DAILYCASHFLOW where PAIDDATE=@PAIDDATE and TransType='IN') 
			Insert into BELL_DAILYCASHFLOW(PAIDDATE,CATEGORY,PURPOSE,PAIDTOPERSON,AMOUNT,PAYMENT_MODE,MOREDETAILS,TRANSTYPE,[STATUS],USERNAME,FILEINFO,seq_no) 
			 VALUES(@PAIDDATE,@CATEGORY,@PURPOSE + ' - Due' ,@PAIDTOPERSON,@AMOUNT,@PAYMENT_MODE,@MOREDETAILS,'IN','PENDING',@USERNAME,'',@seq_no+1)			
			set @result = (SELECT @@IDENTITY)
			
			Insert into BELL_LineSalesManPayments(CashID,due_cashid,Line,Salesman,PartyName,BillDate,PaidDate,Amount,Username) values 
			(@result,@old_cashid, @PURPOSE, @PAIDTOPERSON,@partyname,@due_billdate,@PAIDDATE ,@AMOUNT ,@username) 

			 SELECT @result AS RESULT    
	END
	ELSE 
	BEGIN
			Insert into BELL_DAILYCASHFLOW(PAIDDATE,CATEGORY,PURPOSE,PAIDTOPERSON,AMOUNT,PAYMENT_MODE,MOREDETAILS,TRANSTYPE,[STATUS],USERNAME,FILEINFO,seq_no) 
			VALUES(@PAIDDATE,@CATEGORY,@PURPOSE,@PAIDTOPERSON,@AMOUNT,@PAYMENT_MODE,@MOREDETAILS,@TRANSTYPE,@STATUS,@USERNAME,@FILEINFO,@seq_no)
			--set @result = (SELECT SCOPE_IDENTITY())
			set @result = (SELECT @@IDENTITY)
			--if (@GRANDTOTAL > 0 )
			--begin
			--	Insert into tblVANSALESBILL_DETAILS(CASHID,LINE,SALESMAN,BILLDATE,TOTALAMT,TOTCASH_IN,TOTCASH_OUT,GRANDTOTAL,TOTAL_DUE,TOTAL_KM, DIESEL,MILEAGE,USERNAME) 
			--	VALUES(@result,@line )
			--end 
			 SELECT @result AS RESULT    
		END
END
else
begin
	UPDATE BELL_DAILYCASHFLOW SET AMOUNT=@AMOUNT WHERE ID=@CASHID
end
End
GO
