USE [onlineorders]
GO
  
/*   
--**SEPARATE SP BELL_SHOP_WISE_SALES_BY_BILLNUMBER CREATED FOR BILLWISE (BELL_SHOP_WISE_SALES_BY_BILLNUMBER)    
--SELECT CAST(9900/100.0 AS DECIMAL(12,2))    
--SELECT CAST(20669/100.00 AS DECIMAL(10,2))    
--SELECT FORMAT(2.3382232,'N2')    
    
--SELECT CAST(9900/100.0 AS DECIMAL(12,2))      
--SELECT CAST(20669/100.00 AS DECIMAL(10,2))      
--SELECT FORMAT(2.3382232,'N2')      
--SELECT FORMAT(2,'N2')      
  
Update Bell_Cust_Master set USERNAME='RAJU', LINE='BAZAR',AREA='BAZAR', CUSTOMERNAME='TEST',SHOPNAME='AYYAPPAK/M',MOBILE='7386391384',SALESMAN='',STATUS='Active',ACTIONDATE='2025-Feb-15'   
  
SELECT * FROM Bell_Cust_Master Where LINE='BAZAR' AND AREA='BAZAR' AND SHOPNAME='AYYAPPAK/M'    
SELECT * FROM Bell_Cust_Master Where LINE='BAZAR' AND AREA='BAZAR' AND SHOPNAME LIKE 'TEST%'    
  
SELECT LINE,AREA,SHOPNAME FROM Bell_Cust_Master WHERE LINE='KOUTALA' ORDER BY SHOPNAME  
--AND SHOPNAME LIKE '%NIT%'  
  
 select AREA,AREA_LINE,SHOPNAME,USERNAME,ACTIONDATE from bhavani_ER_Bills  ORDER BY ACTIONDATE DESC  
 AND AREA='KOUTALA' ORDER BY SHOPNAME  
  
select DISTINCT AREA_LINE  from bhavani_ER_Bills  -- 445  
select DISTINCT AREA  from bhavani_ER_Bills  -- 445   
  
SELECT AREA FROM Bell_Cust_Master WHERE LINE=A.AREA_LINE AND SHOPNAME=A.SHOPNAME   
  
--update bhavani_ER_Bills  set AREA_LINE =''  
  
select * from Bell_ItemMaster where itemname like '%SEV MURMURA 5 RS%'  
  
select * from Bell_ItemMaster where itemcode=0  
select * from bhavani_ER_Bills where itemcode=0  
  
select * from bhavani_ER_Bills where username='TEJASWINI' AND ACTIONDATE > '2025-01-15'  
select * from bhavani_ER_Bills where AREA_LINE is null order by actiondate desc  
select * from Bell_Cust_Master order by actiondate desc  
  
-- update bhavani_ER_Bills  set PRATE=RATE-RATE*0.05 WHERE ISNULL(PRATE,0)=0  
-- update bhavani_ER_Bills  set PRATE=RATE-RATE*0.10 WHERE itemcode < 5  
  
 SELECT NULL, ITEMNAME,ITEMCODE ,CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) AMOUNT ,    
  (CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) - CAST(ISNULL(SUM(PRATE * PACKETS)/100.0,0) AS DECIMAL(12,2))) PROFIT_AMOUNT  
 -- CAST((CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) - CAST(ISNULL(SUM(PRATE * PACKETS)/100.0,0) AS DECIMAL(12,2)))/CAST(ISNULL(SUM(PRATE * A.PACKETS)/100.0,0) AS DECIMAL(12,2)) AS DECIMAL(12,2 ) ) * 100 AS Profit_Percent     
 ,sum(PRATE),sum(PACKETS)  
  FROM bhavani_ER_Bills A   WHERE     
  --AREA=(case lower(@AREA) when 'all' then AREA ELSE @AREA END) and SHOPNAME = (case lower(@SHOP) when 'all' then SHOPNAME ELSE @SHOP END)        
 --and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))      
  A.AREA = (case lower('all') when 'all' then A.AREA ELSE 'all' END)       
 and (BILLDATE BETWEEN CONVERT(nvarchar(10),CAST('2025-01-01' AS DATE),101) AND CONVERT(nvarchar(10),CAST('2025-01-15' AS DATE),101))        
 GROUP BY ITEMCODE,ITEMNAME ORDER BY ITEMCODE  
  
SET ANSI_NULLS ON  
GO  
SET QUOTED_IDENTIFIER ON  
GO  
  
--SELECT CAST(9900/100.0 AS DECIMAL(12,2))  
--SELECT CAST(20669/100.00 AS DECIMAL(10,2))  
--SELECT FORMAT(2.3382232,'N2')  
  
SELECT * FROM Bell_Cust_Master Where LINE='PARKAL' order by ID  
UPDATE Bell_Cust_Master  SET CUSTID=1 WHERE CUSTID=30474  
  
SELECT * FROM Bell_Cust_Master Where LINE='PARKAL' AND SHOPNAME='RAMA KRISHNA TRADERS (PARKAL)'  
SELECT * FROM BELL_APP_SHOPS_VISIT_INFO WHERE SHOPNAME='RAMA KRISHNA TRADERS (PARKAL)'  
SELECT * FROM BELL_APP_SHOPS_VISIT_INFO WHERE ORDERDATE='2026-05-14' ORDER BY SHOPNAME  
  
SELECT DISTINCT LINE,AREA,ORDERDATE  FROM BELL_APP_SHOPS_VISIT_INFO WHERE LINE='HANAMKONDA'  
SELECT DISTINCT LINE,AREA,ORDERDATE FROM BELL_APP_SHOPS_VISIT_INFO WHERE ORDERDATE='2026-05-11' ORDER BY LINE,AREA  
  
SELECT * FROM Bell_Cust_Master Where SHOPNAME IN ('KRISHNA SAI B/K (HNK) (BEMARRA','SRI SAI GANESH K/M (HNK)(DABBA','NEW DOLPHIN BAKERY(HNK)(E GUTT','PARAMESHWARA K/M (HNK)(E GUTTA','LUCKY K/M(HNK)')  
  
select line,area,shopname,status from Bell_Cust_Master where shopname not in (select distinct shopname from BELL_APP_SHOPS_VISIT_INFO where LINE='BELLAMPALLY') and status='Active' and LINE='BELLAMPALLY'   
  
SELECT * FROM Bell_Cust_Master Where status='Active' and LINE='BAYYARAM'   
select * from BELL_APP_SHOPS_VISIT_INFO WHERE LINE='BAYYARAM'  AND orderdate >'2026-05-01' and orderdate<'2026-05-30'  order by line  
  
SELECT distinct line,area,shopname FROM BELL_APP_SHOPS_VISIT_INFO Where LINE='ETURNAGARAM' and orderdate >'2026-05-01' and orderdate<'2026-05-30'  order by shopname  
SELECT * FROM Bell_Cust_Master Where status='Active' and LINE='HANAMKONDA'  and shopname like 'RAVI (PARKAL) (ETGM) (ATHAMAKU%'  
--update BELL_APP_SHOPS_VISIT_INFO set shopname='' where LINE='ETURNAGARAM' and shopname='VENKATARAMANA K/M (M.PET( ETGM'  
  
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','ADILABAD','','ALL','2026-07-04','2026-08-04'    
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','HANAMKONDA','','ALL','2026-05-18','2026-05-18'    
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','HANAMKONDA','','NOT VISITED','2026-05-01','2026-05-30'    
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','BAYYARAM','','ALL','2026-05-01','2026-05-30'    
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','BAYYARAM','','ALL','2026-05-14','2026-05-14'    
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','BAYYARAM','','NOT VISITED','2026-05-01','2026-05-30'    
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','BAYYARAM','','NOT VISITED','2026-05-14','2026-05-14'    
  
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','BELLAMPALLY','all','all','2026-08-01','2026-08-20'    
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'DATEWISEREPORT','NARSAMPET','all','all','2026-09-14','2026-09-26'  
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'ITEMWISE','BHADRACHALAM','all','all','2025-01-15','2025-01-30'  
 USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  'ITEMWISE','BHADRACHALAM','ASHWAPUR','all','2025-01-15','2025-01-30'  
   
*/  
  
ALTER PROCEDURE DBO.USP_SHOP_WISE_SALES_COUNT_BY_BILLDATE  
@HEADER AS NVARCHAR(20),          
@AREA AS NVARCHAR(60),      --  Line    
@AREA_LINE AS NVARCHAR(60),      --  AREA    
@SHOP AS NVARCHAR(100),   -- Area       
@BILLDATE1 AS DATE,          
@BILLDATE2 AS DATE          
AS          
BEGIN          
          
--DECLARE @Bell_TEMP_REPORT AS TABLE(BILLDATE VARCHAR(20), NAME VARCHAR(50),QTY INT)          
DECLARE @cols AS NVARCHAR(MAX), @query  AS NVARCHAR(MAX)          
declare @ImageURL as varchar(50)      
          
--DECLARE @TEMP_REPORT AS TABLE(BILLDATE VARCHAR(20), NAME VARCHAR(100),QTY INT)          
--DELETE FROM Bell_TEMP_REPORT          
DELETE FROM Bell_REPORT_HEADER          
delete from Bell_REPORT_HEADER_BILLDATE        
  
 set @ImageURL = (Select top 1 FieldValue from tblAllMasterData with (nolock) where FieldType='Bell_ImageServerURL')      
  
 IF @HEADER='DATEWISEREPORT'          
    BEGIN          
        --CREATE TABLE dbo.#TEMP_DATEWISEREPORT (BILLDATE VARCHAR(20), LINE VARCHAR(50),AREA VARCHAR(50),SHOPNAME VARCHAR(50),   
         --VISIT_STATUS VARCHAR(20),TIME_TAKEN VARCHAR(15))  
         CREATE TABLE dbo.#TEMP_DATEWISEREPORT (BILLDATE VARCHAR(20),AREA VARCHAR(50), SHOPNAME VARCHAR(100),TIME_TAKEN VARCHAR(MAX),  
         AREA_SEQ INT,SHOP_SEQ INT)
         --,SHOP_PHOTO VARCHAR(150)
        DECLARE @SHOPVISIT_STATUS AS VARCHAR(20)  
        CREATE TABLE dbo.#TEMP_DATEWISEREPORT_HEADER (HEADER_NAME DATE)     
        SET @SHOPVISIT_STATUS = @SHOP  
         if @SHOPVISIT_STATUS=''    
         begin  
            set @SHOPVISIT_STATUS='ALL'   
         end   
         IF UPPER(@SHOPVISIT_STATUS) = 'NOT VISITED'  
         BEGIN  
                    select AREA,SHOPNAME,AREA_SEQ,SHOP_SEQ,'NOT VISITED' AS [STATUS], '' AS SHOP_PHOTO_URL from Bell_Cust_Master where   
                    LINE=@AREA and status='Active' AND  
                    shopname not in   
                    (select distinct shopname from BELL_APP_SHOPS_VISIT_INFO B where B.LINE=@AREA and B.SHOP_VISIT_STATUS='BILLED'   
                        and (B.ORDERDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2 ,101))  )  
                        ORDER BY AREA_SEQ,AREA,SHOP_SEQ  
         END   
         ELSE IF UPPER(@SHOPVISIT_STATUS) = 'ALL'  
         BEGIN  
                  Insert into #TEMP_DATEWISEREPORT          
                   select CONVERT(varchar,ORDERDATE,6) as BILLDATE, A.AREA,A.SHOPNAME,                        
                  dbo.GetTimeDiff_NEW(BILLING_START_DATE,BILLING_END_DATE,SHOP_VISIT_STATUS,@ImageURL,SHOP_VISIT_PHOTO_NAME )   
                  -- + '<br/>Photo<p-image src="' + @ImageURL + B.SHOP_VISIT_PHOTO_NAME + '"  alt="' +A.SHOPNAME+ '" width="50" height="50" [preview]="true" />'  
                  AS TIME_TAKEN,A.AREA_SEQ,A.SHOP_SEQ
                  --,ISNULL(SHOP_VISIT_PHOTO_NAME,'') AS SHOP_PHOTO  
                  from  Bell_Cust_Master A WITH (NOLOCK)    
                  LEFT JOIN BELL_APP_SHOPS_VISIT_INFO B WITH (NOLOCK) ON A.LINE=B.LINE AND A.AREA=B.AREA AND A.SHOPNAME=B.SHOPNAME  
                  and (B.ORDERDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2 ,101))    
                  AND SHOP_VISIT_STATUS=(CASE WHEN @SHOPVISIT_STATUS='ALL' THEN SHOP_VISIT_STATUS ELSE @SHOPVISIT_STATUS  END)    
                  WHERE A.LINE=@AREA and A.STATUS='Active'  
                   -- -- AND CAST(A.ORDERDATE AS DATE) >= @FROMDATE  AND CAST(A.ORDERDATE AS DATE) <= @TODATE                    
  
                 -- select   CONVERT(varchar,ORDERDATE,6) as BILLDATE, A.AREA,A.SHOPNAME,   
                 -- dbo.GetTimeDiff(BILLING_START_DATE,BILLING_END_DATE,SHOP_VISIT_STATUS) AS TIME_TAKEN,B.AREA_SEQ,B.SHOP_SEQ             
                 -- from BELL_APP_SHOPS_VISIT_INFO A WITH (NOLOCK)    
                 -- LEFT JOIN Bell_Cust_Master B WITH (NOLOCK) ON A.LINE=B.LINE AND A.AREA=B.AREA AND A.SHOPNAME=B.SHOPNAME  
                 -- WHERE A.LINE=@AREA and B.STATUS='Active'  
                 --  --AND CAST(A.ORDERDATE AS DATE) >= @FROMDATE  AND CAST(A.ORDERDATE AS DATE) <= @TODATE   
                 -- and (ORDERDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2 ,101))          
                 --AND SHOP_VISIT_STATUS=(CASE WHEN @SHOP='ALL' THEN SHOP_VISIT_STATUS ELSE @SHOP  END)    
                 --ORDER BY B.AREA_SEQ,B.AREA,B.SHOP_SEQ  
  
                 --INSERT INTO Bell_REPORT_HEADER SELECT DISTINCT BILLDATE FROM #TEMP_SHOPWISEWITHOUTBILL  order by BILLDATE DESC  --(STORING BILLDATE INTO SHOPNAME COL)                  
                -- select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(HEADER_NAME) + ']'          
                   --    from Bell_REPORT_HEADER group by HEADER_NAME FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
  
                  set @query = N' INSERT INTO #TEMP_DATEWISEREPORT_HEADER SELECT DISTINCT CONVERT(varchar,BILLDATE,6) AS BILLDATE FROM #TEMP_DATEWISEREPORT '           
                  PRINT @query        
                  EXEC sp_executesql @query            
                select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(CONVERT(varchar,HEADER_NAME,6)) + ']'              
                     from #TEMP_DATEWISEREPORT_HEADER group by HEADER_NAME order by HEADER_NAME ASC FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
                print @cols   
                 set @query = 'SELECT * from (select * from #TEMP_DATEWISEREPORT '            
                    +' ) x pivot (MAX(TIME_TAKEN) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') ) p  ORDER BY AREA_SEQ,AREA,SHOP_SEQ'          
                  --PRINT @query          
                  exec sp_executesql @query;  
            END  
         ELSE  
         BEGIN  
                  Insert into #TEMP_DATEWISEREPORT          
                   select   CONVERT(varchar,ORDERDATE,6) as BILLDATE, A.AREA,A.SHOPNAME,  
                  dbo.GetTimeDiff_NEW(BILLING_START_DATE,BILLING_END_DATE,SHOP_VISIT_STATUS,@ImageURL,SHOP_VISIT_PHOTO_NAME)   
                  -- + '<br/>Photo <p-image src=' + @ImageURL + A.SHOP_VISIT_PHOTO_NAME + '  alt=' +A.SHOPNAME+ ' width="50" height="50" [preview]="true" />'  
                  AS TIME_TAKEN,B.AREA_SEQ,B.SHOP_SEQ
                  --,ISNULL(SHOP_VISIT_PHOTO_NAME,'') AS SHOP_PHOTO  
                  from BELL_APP_SHOPS_VISIT_INFO A WITH (NOLOCK)    
                  LEFT JOIN Bell_Cust_Master B WITH (NOLOCK) ON A.LINE=B.LINE AND A.AREA=B.AREA AND A.SHOPNAME=B.SHOPNAME  
                  WHERE A.LINE=@AREA and B.STATUS='Active'  
                  and (ORDERDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2 ,101))          
                AND SHOP_VISIT_STATUS=@SHOPVISIT_STATUS   
  
                  set @query = N' INSERT INTO #TEMP_DATEWISEREPORT_HEADER SELECT DISTINCT CONVERT(varchar,BILLDATE,6) AS BILLDATE FROM #TEMP_DATEWISEREPORT '           
                  PRINT @query        
                  EXEC sp_executesql @query            
                select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(CONVERT(varchar,HEADER_NAME,6)) + ']'              
                     from #TEMP_DATEWISEREPORT_HEADER group by HEADER_NAME order by HEADER_NAME ASC FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
                print @cols   
                 set @query = 'SELECT * from (select * from #TEMP_DATEWISEREPORT '            
                    +' ) x pivot (MAX(TIME_TAKEN) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') ) p  ORDER BY AREA_SEQ,AREA,SHOP_SEQ'          
                  --PRINT @query          
                  exec sp_executesql @query;                        
                  --- next table to get total counts  
                  SELECT COUNT(DISTINCT Area) AS TotalAreas, COUNT(DISTINCT ShopName) AS TotalShops FROM   
                  Bell_Cust_Master where Line=@Area and [Status]='Active'  
            END  
            --- next table to get total counts  
            SELECT COUNT(DISTINCT Area) AS TotalAreas, COUNT(DISTINCT ShopName) AS TotalShops FROM   
            Bell_Cust_Master where Line=@Area and [Status]='Active'  
    END  
  
IF @HEADER = 'SHOPWISE'          
BEGIN          
 CREATE TABLE dbo.#TEMP_REPORT (BILLDATE VARCHAR(20), NAME VARCHAR(100),QTY DECIMAL(12,2))          
           
  Insert into #TEMP_REPORT          
  select FORMAT(BILLDATE, 'dd-MMM-yy') as BILLDATE,SHOPNAME          
  --,ISNULL(SUM(AMOUNT),0) AMOUNT           
  ,CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) AMOUNT          
  from bhavani_ER_Bills          
  WHERE AREA=@AREA     
  AND SHOPNAME = (case lower(@SHOP) when 'all' then SHOPNAME ELSE @SHOP END)          
  AND AREA_LINE = (case lower(@AREA_LINE) when 'all' then AREA_LINE ELSE @AREA_LINE END)          
  and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))          
  GROUP BY BILLDATE,SHOPNAME,AREA order by SHOPNAME          
          
   --Select * from #TEMP_REPORT --order by shopname desc          
 INSERT INTO Bell_REPORT_HEADER SELECT DISTINCT BILLDATE FROM #TEMP_REPORT   --(STORING BILLDATE INTO SHOPNAME COL)          
          
 select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(HEADER_NAME) + ']'          
       from Bell_REPORT_HEADER group by HEADER_NAME FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
          
 set @query = 'SELECT * from (select * from #TEMP_REPORT '            
    +' ) x pivot (AVG(QTY) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') )  p'          
  PRINT @query          
  exec sp_executesql @query;          
END          
IF @HEADER = 'SHOPWISEWITHBILL'          
BEGIN          
 CREATE TABLE dbo.#TEMP_REPORT1 (BILLDATE VARCHAR(20), NAME VARCHAR(100),QTY DECIMAL(12,2))          
          
  Insert into #TEMP_REPORT1          
  select FORMAT(BILLDATE, 'dd-MMM-yy') as BILLDATE          
  ,(convert(nvarchar(5),BILLNUMBER) + ' - ' + SHOPNAME) as SHOPNAME          
  --,ISNULL(SUM(AMOUNT),0) AMOUNT           
  ,CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) AMOUNT          
  from bhavani_ER_Bills WHERE AREA=@AREA     
  and SHOPNAME = (case lower(@SHOP) when 'all' then SHOPNAME ELSE @SHOP END)          
  AND AREA_LINE = (case lower(@AREA_LINE) when 'all' then AREA_LINE ELSE @AREA_LINE END)          
  and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))            
  GROUP BY BILLDATE,BILLNUMBER,SHOPNAME,AREA order by convert(int,BILLNUMBER)          
          
   --Select * from #TEMP_REPORT1 --order by shopname desc          
 INSERT INTO Bell_REPORT_HEADER SELECT DISTINCT BILLDATE FROM #TEMP_REPORT1   --(STORING BILLDATE INTO SHOPNAME COL)          
          
 select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(HEADER_NAME) + ']'          
       from Bell_REPORT_HEADER group by HEADER_NAME FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
          
 set @query = 'SELECT * from (select * from #TEMP_REPORT1'            
    +' ) x pivot (SUM(QTY) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') ) p'          
          
  PRINT @query          
  exec sp_executesql @query;          
END          
IF @HEADER = 'SHOPWISEWITHOUTBILL'          
BEGIN          
 CREATE TABLE dbo.#TEMP_SHOPWISEWITHOUTBILL (BILLDATE VARCHAR(20), NAME VARCHAR(100),QTY DECIMAL(12,2),GROUPNAME VARCHAR(50),CATEGORY VARCHAR(50))          
     
 IF Lower(@AREA_LINE) = 'all'    
  BEGIN    
  Insert into #TEMP_SHOPWISEWITHOUTBILL          
  --FORMAT(BILLDATE, 'dd-MMM-yy') as BILLDATE,  
  select   CONVERT(varchar,BILLDATE,6) as BILLDATE,  
  Bills.SHOPNAME,CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) AMOUNT,  
  ISNULL(Cust.GroupName,'NA') AS GroupName ,ISNULL(Cust.Category,'NA') AS Category   
  from bhavani_ER_Bills  Bills LEFT JOIN Bell_Cust_Master Cust ON Bills.ShopName=Cust.ShopName  
  WHERE Bills.AREA=@AREA     
  and Bills.SHOPNAME = (case lower(@SHOP) when 'all' then Bills.SHOPNAME ELSE @SHOP END) --AND Cust.STATUS='Active'           
  and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))          
  GROUP BY BILLDATE,Bills.SHOPNAME,Bills.AREA,Cust.GroupName,Cust.Category order by Bills.SHOPNAME           
 END    
 ELSE    
 BEGIN    
  Insert into #TEMP_SHOPWISEWITHOUTBILL          
   select  CONVERT(varchar,BILLDATE,6) as BILLDATE,Bills.SHOPNAME,CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) AMOUNT,  
   ISNULL(Cust.GroupName,'NA') AS GroupName ,ISNULL(Cust.Category,'NA') AS Category   
   from bhavani_ER_Bills  Bills LEFT JOIN Bell_Cust_Master Cust ON Bills.ShopName=Cust.ShopName  
   WHERE Bills.AREA=@AREA     
   and Bills.SHOPNAME = (case lower(@SHOP) when 'all' then Bills.SHOPNAME ELSE @SHOP END) --AND Cust.STATUS='Active'           
   AND Bills.AREA_LINE = (case lower(@AREA_LINE) when 'all' then Bills.AREA_LINE ELSE @AREA_LINE END)          
   and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))          
   GROUP BY BILLDATE,Bills.SHOPNAME,Bills.AREA,Cust.GroupName,Cust.Category order by Bills.SHOPNAME           
  END    
    
 --INSERT INTO Bell_REPORT_HEADER SELECT DISTINCT BILLDATE FROM #TEMP_SHOPWISEWITHOUTBILL  order by BILLDATE DESC  --(STORING BILLDATE INTO SHOPNAME COL)                  
-- select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(HEADER_NAME) + ']'          
   --    from Bell_REPORT_HEADER group by HEADER_NAME FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
  set @query = N' INSERT INTO Bell_REPORT_HEADER_BILLDATE SELECT DISTINCT CONVERT(varchar,BILLDATE,6) AS BILLDATE FROM #TEMP_SHOPWISEWITHOUTBILL '           
  --PRINT @query        
  EXEC sp_executesql @query            
  
select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(CONVERT(varchar,HEADER_NAME,6)) + ']'              
     from Bell_REPORT_HEADER_BILLDATE group by HEADER_NAME order by HEADER_NAME ASC FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
--print @cols   
  
--set @query = 'SELECT * INTO TEMP_DYNAMIC_REPORT2 from (select * from #TEMP_REPORT_ITEMWISE '            
--            +' ) x pivot (SUM(QTY) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') ) pv1 '          
  
 set @query = 'SELECT * from (select * from #TEMP_SHOPWISEWITHOUTBILL '            
    +' ) x pivot (SUM(QTY) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') ) p  ORDER BY GROUPNAME'          
          
  --PRINT @query          
  exec sp_executesql @query;          
  
  --Select * from #TEMP_SHOPWISEWITHOUTBILL --order by shopname desc          
  
END          
          
IF @HEADER = 'ITEMWISE'          
BEGIN          
  CREATE TABLE dbo.#TEMP_REPORT_ITEMWISE (BILLDATE VARCHAR(20), NAME VARCHAR(100),ITEMCODE INT,QTY decimal(12,2),PROFIT_AMT decimal(12,2),PROFIT_PERCENT decimal(12,2))          
  CREATE TABLE dbo.#TEMP_REPORT2 (BILLDATE VARCHAR(20), NAME VARCHAR(100),ITEMCODE INT,QTY INT)          
  CREATE TABLE dbo.#TEMP_REPORT3 (BILLDATE VARCHAR(20), NAME VARCHAR(100),ITEMCODE INT,QTY INT)          
          
  --IF OBJECT_ID (N'TEMP_DYNAMIC_REPORT2', N'U') IS NOT NULL          
  --BEGIN          
  --  DROP TABLE TEMP_DYNAMIC_REPORT2          
  --  DROP TABLE TEMP_DYNAMIC_REPORT3          
  --END          
  --DECLARE @datecol datetime = GETDATE();          
  --DECLARE @WeekNum INT, @YearNum char(4);                
  --SELECT @WeekNum = DATEPART(WK, @datecol), @YearNum = CAST(DATEPART(YY, @datecol) AS CHAR(4));          
      
  --* TODO: to avoid Divide by zero error, this is due to PRATE is zero, hence update to some default value.    
  -- select * from bhavani_ER_Bills where ISNULL(PRATE,0)=0    
  update bhavani_ER_Bills  set PRATE=RATE-RATE*0.05 WHERE ISNULL(PRATE,0)=0    
      
  --FORMAT(BILLDATE, 'dd-MMM-yy') as BILLDATE,          
  IF Lower(@AREA_LINE) = 'all'    
  BEGIN    
  Insert into #TEMP_REPORT_ITEMWISE          
   select CONVERT(varchar(20),DATEADD(wk, DATEDIFF(wk, 6, '1/1/' + CAST(DATEPART(YY, BILLDATE) AS CHAR(4))) + (DatePart(week, BILLDATE)-1), 6),6) AS StartOfWeek,          
   --select FORMAT(DATEADD(wk, DATEDIFF(wk, 6, '1/1/' + CAST(DATEPART(YY, BILLDATE) AS CHAR(4))) + (DatePart(week, BILLDATE)-1), 6),'dd-MMM-yy') AS StartOfWeek,      
   ITEMNAME,ISNULL(ITEMCODE,0), CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) AMOUNT     
   ,0 AS PROFIT_AMOUNT,0 AS PROFIT_PERCENT   from bhavani_ER_Bills          
   WHERE AREA=(case lower(@AREA) when 'all' then AREA ELSE @AREA END)     
   AND SHOPNAME = (case lower(@SHOP) when 'all' then SHOPNAME ELSE @SHOP END)             
   and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))          
   GROUP BY BILLDATE,ITEMNAME,AREA,ITEMCODE order by ITEMCODE          
  END    
  ELSE    
  BEGIN    
   Insert into #TEMP_REPORT_ITEMWISE          
   select CONVERT(varchar(20),DATEADD(wk, DATEDIFF(wk, 6, '1/1/' + CAST(DATEPART(YY, BILLDATE) AS CHAR(4))) + (DatePart(week, BILLDATE)-1), 6),6) AS StartOfWeek,          
   --select FORMAT(DATEADD(wk, DATEDIFF(wk, 6, '1/1/' + CAST(DATEPART(YY, BILLDATE) AS CHAR(4))) + (DatePart(week, BILLDATE)-1), 6),'dd-MMM-yy') AS StartOfWeek,      
   ITEMNAME,ISNULL(ITEMCODE,0), CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) AMOUNT     
   ,0 AS PROFIT_AMOUNT,0 AS PROFIT_PERCENT   from bhavani_ER_Bills          
   WHERE AREA=(case lower(@AREA) when 'all' then AREA ELSE @AREA END)     
   AND SHOPNAME = (case lower(@SHOP) when 'all' then SHOPNAME ELSE @SHOP END)          
   AND AREA_LINE = (case lower(@AREA_LINE) when 'all' then AREA_LINE ELSE @AREA_LINE END)          
   and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))          
   GROUP BY BILLDATE,ITEMNAME,AREA,ITEMCODE order by ITEMCODE          
 END        
  --SELECT * FROM #TEMP_REPORT_ITEMWISE order by BILLDATE ASC        
          
  set @query = N' INSERT INTO Bell_REPORT_HEADER_BILLDATE SELECT DISTINCT CONVERT(varchar,BILLDATE,6) AS BILLDATE FROM #TEMP_REPORT_ITEMWISE '           
  PRINT @query        
  EXEC sp_executesql @query              
        
  --SELECT DISTINCT CONVERT(varchar,HEADER_NAME,6) as HEADER_NAME FROM Bell_REPORT_HEADER_BILLDATE order by HEADER_NAME ASC        
          
  select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(CONVERT(varchar,HEADER_NAME,6)) + ']'              
     from Bell_REPORT_HEADER_BILLDATE group by HEADER_NAME order by HEADER_NAME ASC FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')          
          
  --PRINT @cols          
          
 --INSERT INTO Bell_REPORT_HEADER SELECT DISTINCT BILLDATE FROM #TEMP_REPORT_ITEMWISE          
 --select @cols = STUFF((SELECT ',' + '['+ QUOTENAME(HEADER_NAME) + ']'          
 --from Bell_REPORT_HEADER group by HEADER_NAME FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,1,'')              
  IF OBJECT_ID (N'TEMP_DYNAMIC_REPORT2', N'U') IS NOT NULL          
  BEGIN          
    DROP TABLE TEMP_DYNAMIC_REPORT2          
  END    
 set @query = 'SELECT * INTO TEMP_DYNAMIC_REPORT2 from (select * from #TEMP_REPORT_ITEMWISE '            
            +' ) x pivot (SUM(QTY) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') ) pv1 '          
          
   PRINT @query          
   exec sp_executesql @query;          
          
  --select * from Bell_REPORT_HEADER          
  --select * from TEMP_DYNAMIC_REPORT2          
          
  delete from #TEMP_REPORT_ITEMWISE          
  --CREATE TABLE dbo.#TEMP_REPORT_ITEMWISE2 (BILLDATE VARCHAR(20),NAME VARCHAR(100),ITEMCODE INT,QTY INT)          
  --Delete from #TEMP_REPORT_ITEMWISE2           
          
  --FORMAT(BILLDATE, 'dd-MMM-yy') as BILLDATE,          
  Insert into #TEMP_REPORT_ITEMWISE          
  select CONVERT(varchar(20),DATEADD(wk, DATEDIFF(wk, 6, '1/1/' + CAST(DATEPART(YY, BILLDATE) AS CHAR(4))) + (DatePart(week, BILLDATE)-1), 6),6) AS StartOfWeek,          
  --select FORMAT(DATEADD(wk, DATEDIFF(wk, 6, '1/1/' + CAST(DATEPART(YY, BILLDATE) AS CHAR(4))) + (DatePart(week, BILLDATE)-1), 6),'dd-MMM-yy') AS StartOfWeek,          
  ITEMNAME,ISNULL(ITEMCODE,0),ISNULL(SUM(PACKETS),0) PACKETS       
  ,0 AS PROFIT_AMOUNT,0 AS PROFIT_PERCENT     
  from bhavani_ER_Bills          
  WHERE AREA=(case lower(@AREA) when 'all' then AREA ELSE @AREA END)     
  and SHOPNAME = (case lower(@SHOP) when 'all' then SHOPNAME ELSE @SHOP END)          
  AND AREA_LINE = (case lower(@AREA_LINE) when 'all' then AREA_LINE ELSE @AREA_LINE END)          
  and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))          
  GROUP BY BILLDATE,ITEMNAME,AREA,ITEMCODE order by ITEMCODE          
    
  IF OBJECT_ID (N'TEMP_DYNAMIC_REPORT3', N'U') IS NOT NULL          
 BEGIN          
   DROP TABLE TEMP_DYNAMIC_REPORT3    
  END    
  
 set @query = 'SELECT * INTO TEMP_DYNAMIC_REPORT3 from (select * from #TEMP_REPORT_ITEMWISE '            
   +' ) x pivot (SUM(QTY) for BILLDATE in (' + REPLACE(REPLACE(@cols,'[[','['),']]',']') + ') ) pv2 '                      
          
           
PRINT @query          
exec sp_executesql @query;          
        
--select * from TEMP_DYNAMIC_REPORT3          
--SELECT cONVERT(NVARCHAR(10),GETDATE(),101)          
     
 delete from #TEMP_REPORT_ITEMWISE    
    
 Insert into #TEMP_REPORT_ITEMWISE       
 SELECT NULL, ITEMNAME,ITEMCODE ,CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2))  Amount,      
  (CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) - CAST(ISNULL(SUM(PRATE * PACKETS)/100.0,0) AS DECIMAL(12,2))) PROFIT_AMOUNT,    
  CAST((CAST(ISNULL(SUM(AMOUNT)/100.0,0) AS DECIMAL(12,2)) - CAST(ISNULL(SUM(PRATE * PACKETS)/100.0,0) AS DECIMAL(12,2)))/CAST(ISNULL(SUM(PRATE * A.PACKETS)/100.0,0) AS DECIMAL(12,2)) AS DECIMAL(12,2 ) ) * 100 AS Profit_Percent       
  FROM bhavani_ER_Bills A   WHERE       
  AREA=(case lower(@AREA) when 'all' then AREA ELSE @AREA END)     
  and SHOPNAME = (case lower(@SHOP) when 'all' then SHOPNAME ELSE @SHOP END)          
  AND AREA_LINE = (case lower(@AREA_LINE) when 'all' then AREA_LINE ELSE @AREA_LINE END)          
 and (BILLDATE BETWEEN CONVERT(nvarchar(10),@BILLDATE1,101) AND CONVERT(nvarchar(10),@BILLDATE2,101))        
 -- A.AREA = (case lower('all') when 'all' then A.AREA ELSE 'all' END)         
 --and (BILLDATE BETWEEN CONVERT(nvarchar(10),CAST('2025-01-01' AS DATE),101) AND CONVERT(nvarchar(10),CAST('2025-01-15' AS DATE),101))          
 GROUP BY ITEMCODE,ITEMNAME ORDER BY ITEMCODE    
         
set @query = 'SELECT A.NAME,C.QTY as Sales_Amt, C.Profit_Amt,C.Profit_Percent,' + REPLACE(REPLACE(@cols,'[[','A.['),']]',']') + ',' + REPLACE(REPLACE(@cols,'[[','B.['),']]','] AS QTY') + ' FROM TEMP_DYNAMIC_REPORT2 A '          
   +' INNER JOIN TEMP_DYNAMIC_REPORT3 B ON A.NAME=B.NAME AND A.ITEMCODE=B.ITEMCODE '    
   + ' INNER JOIN #TEMP_REPORT_ITEMWISE C ON C.NAME=A.NAME AND C.ITEMCODE=A.ITEMCODE '    
   + ' ORDER BY A.ITEMCODE'          
PRINT @query          
exec sp_executesql @query;          
    
--select * from TEMP_DYNAMIC_REPORT2 ORDER BY ITEMCODE    
--select * from TEMP_DYNAMIC_REPORT3 ORDER BY ITEMCODE    
--select * from #TEMP_REPORT_ITEMWISE ORDER BY ITEMCODE    
    
    
 IF OBJECT_ID (N'TEMP_DYNAMIC_REPORT2', N'U') IS NOT NULL          
 BEGIN          
   DROP TABLE TEMP_DYNAMIC_REPORT2          
  END          
  IF OBJECT_ID (N'TEMP_DYNAMIC_REPORT3', N'U') IS NOT NULL          
 BEGIN          
   DROP TABLE TEMP_DYNAMIC_REPORT3          
  END          
      
END          
          
end 